ul.menu li {
	display: block;
	float: left;
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 26px;
	font-weight: 600;
	width: 12%;
	text-align: center;
}

ul.menu {
	list-style-type: none;
	padding-left: 0px;
	padding-top: 0px;
}

ul.menu a {
	color: #fff;
	text-decoration: none;
}

ul.menu a li:hover {
	background-color: orange;
}

ul.consultas {
	width: 100px;
}
ul.consultas li {
	display: block;
	background-color: #777;
	color: #fff;
	padding: 16px;
	font-size: 18px;
	text-align: center;
	height: 200px;
	vertical-align: middle;
}

div.consultas {
	clear: left;
	padding-left: 0px;
	float: left;
}

ul.consultas {
	padding-left: 0px;
	width: 100px;
}

ul.consultas a {
	color: #fff;
	text-decoration: none;
}

ul.consultas a li:hover {
	background-color: orange;
}

body {	
	font-family: Arial;
}

label {
	font-size: 24px; font-weight: 600;
}

input {
	margin-bottom: 40px;
}
form {
	float:left;
	text-align: center;
	background-color: #EEE;
	border-radius: 24px;
	padding: 100px;
}